body {
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	color: white;
}

table {
	border-spacing: 0px;
	border: 0px;
	padding: 0px;
	width: 1px;
}

#weather-table, #weather-location-name{
	padding-top: 10px;
	padding-left: 0px;
}

#weather-icon {
	width: 110px;
	height: 110px;
	padding-right: 5px;
}

#weather-temp {
	font-size: 35px;
	width: 1px;
}

#weather-temp-sign {
	vertical-align: top;
	padding-top: 9px;
	font-size: 16px;
}

#weather-table-details {
	font-size: 14px;
	text-align: left;
}

#weather-table-details td {
	white-space: nowrap;
}

#weather-forecast-table img {
	width: 80px;
	height:70px;
	padding-left: 10px;

}

#weather-forecast-table td {
  text-align: center;
  vertical-align: text-top;
  font-size: 13px;
}

#weather-forecast-table .temp-max {
	font-size: 18px;
	color: red;
}

#weather-forecast-table .temp-min {
	font-size: 16px;
	color: white;
}