# The database URL, e.g. http://127.0.0.1:8086 or https://127.0.0.1:8084 .
# Defaults to: http://127.0.0.1:8086
# url=http(s)://<host>:<port>
<<<<<<< HEAD
url=http://127.0.0.1:8086
# The name of the database user, e.g. openhab.
# Defaults to: openhab
# user=<user>
user=openhab

# The password of the database user.
# password=
password=AnotherSuperbPassword456-
=======

# The name of the database user, e.g. openhab.
# Defaults to: openhab
# user=<user>

# The password of the database user.
# password=
>>>>>>> 6d4e96ef05cdc5588dcf18090b0f8894d848657b

# The name of the database, e.g. openhab.
# Defaults to: openhab
# db=<database>
<<<<<<< HEAD
db=openhab_db

=======

# The database URL, e.g. http://127.0.0.1:8086 or https://127.0.0.1:8084 .
# Defaults to: http://127.0.0.1:8086
url=http://127.0.0.1:8086

# The name of the database user, e.g. openhab.
# Defaults to: openhab
user=openhab

# The password of the database user.
password=openhab

# The name of the database, e.g. openhab.
# Defaults to: openhab
db=openhab_db

# The retention policy to be used, needs to configured in InfluxDB
# Till v0.13: 'default', since v1.0: 'autogen'
>>>>>>> 6d4e96ef05cdc5588dcf18090b0f8894d848657b
retentionPolicy=autogen
